.image-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000085;
  z-index: 1;
}

.image-foreground {
  position: fixed;
  inset: 25% 5%;
  z-index: 2;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem;

<<<<<<< HEAD
background-color: var(--header-color);  display: flex;
=======
background-color: #ead7c5;  display: flex;
>>>>>>> f4c000e (Project image navigation and re-did the color palette)
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
    .image-foreground img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    .image-foreground button {
        position: absolute;
<<<<<<< HEAD
        color: var(--accent-color);
        background-color: var(--foreground-color);
        border-color: var(--accent-color);
=======
        color: #000000;
        background-color: #00000000;
>>>>>>> f4c000e (Project image navigation and re-did the color palette)
        cursor:pointer;
        text-align: center;
    }

.nav-button-close {
  top: 10px;
  right: 10px;
}
.nav-button-next {
  top: 47%;
  right: 10px;
}
.nav-button-back {
  top: 47%;
  left: 2rem;
}

.additional-image-container {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

<<<<<<< HEAD
    background-color: var(--foreground-color);
=======
    background-color: #f0f0f0;
>>>>>>> f4c000e (Project image navigation and re-did the color palette)
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    height: 40%;
    max-width: calc(100% - 2rem);
}
.additional-image-container img {
  display: block;
  width: 40%;
  height: auto;
  max-width: 45%;
  max-height: 100%;
  object-fit: contain;
  flex: 0 0 auto;
}
