.image-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000085;
  z-index: 1;
}

.image-foreground {
  position: fixed;
  inset: 25% 5%;
  z-index: 2;
  padding: 1rem;

  background-color: var(--header-color);  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
    .image-foreground img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    .image-foreground button {
        position: absolute;
        color: var(--text-color);
        background-color: var(--foreground-color);
        cursor:pointer;
        text-align: center;
    }

.nav-button-close {
  top: 10px;
  right: 1rem;
  font-size: 24px;

}
.nav-button-next {
  top: 47%;
  right: 1rem;
  font-size: 24px;

}
.nav-button-back {
  top: 47%;
  left: 2rem;
  font-size: 24px;

}

.image-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  bottom: 0rem;
  left: 50%;

  transform: translateX(-50%);
  z-index: 1;
  height: 40%;
  width: 45rem;

  background-color: var(--foreground-color);
}
  .image-navigation button {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    background-color: var(--foreground-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
   
  }
.additional-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: visible;
    overflow-y: hidden;

    border-right: 2px solid var(--text-color);
    border-left: 2px solid var(--text-color);
}
.additional-image-container img {
  display: block;
  height: auto;
  object-fit: contain;
  flex: 0 0 auto;
  max-height: 100%;
  overflow: hidden;
}

.open-image-navigation {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  font-size: 18px;
  display: block;
  border-bottom: none;

}

