.about-date {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: var(--text-color);
  margin-bottom: 3px;
}  

.about-body {
  overflow: auto;
  padding: 8px;
  line-height: 1.25;
}
.about-body p {
  margin-top: 5px;
  margin-bottom: 10px;
}

