.header {
    width: 100%;

    justify-self: center;
    align-self: center;
    height: 100%;
}

.content {
    width: 50%;
    height: 50%;
}
.content img {
   object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 210px;
    object-position: left;
<<<<<<< HEAD
    border: 5px solid var(--foreground-color);
=======
    border: 5px solid #F4E4D1;
>>>>>>> f4c000e (Project image navigation and re-did the color palette)
}