.header {
    width: 100%;

    justify-self: center;
    align-self: center;
    height: 100%;
}

.content {
    width: 50%;
    height: 50%;
}
.content img {
   object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 210px;
    object-position: left;
    border: 5px solid var(--foreground-color);
}