.projectpanel-card {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-areas: 
    "project-image project-body";
  min-height: 0;
  max-height: 210px;

  overflow: hidden;
  background: #F4E4D1;
}

.projectpanel-image {
  object-fit: cover;
  object-position: center;
  display: block;
  align-items: center;
  width: 100%;
  max-height: 210px;
}
  .projectpanel-image img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    max-height: 210px
  }

.projectpanel-body {
  padding: 20px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.55;
}

.projectpanel-title {
  margin: 0 0 0px;
  font-size: 20px;
  font-weight: 900;
}

.projectpanel-desc-box {
  background: #ecd2b3;
  border-radius: 4px;
  padding: 10px;
}
  .projectpanel-desc-box a{
  color:#963500
  }

.projectpanel-date {
    margin-top: auto;
  align-self: flex-end;

  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: #5a3d20;
  margin-bottom: 3px;
}

/*for javascript
#more { display: none; }
