.projectpanel-card {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-areas: 
    "project-image project-body";
  min-height: 0;

  overflow: hidden;
  background: var(--foreground-color);
}

.projectpanel-image {
  object-fit: cover;
  object-position: center;
  display: block;
  align-items: center;
  width: 100%;
  border: 5px solid var(--foreground-color);
}
  .projectpanel-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 210px;
    object-position: left;
  }

.projectpanel-body {
  padding: 20px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.55;
}

.projectpanel-title {
  margin: 0 0 0px;
  font-size: 20px;
  font-weight: 900;
}

.projectpanel-desc-box {
  background: var(--header-color);
  border-radius: 4px;
  padding: 10px;
}
  .projectpanel-desc-box a{
  color: var(--accent-color);
  }

.projectpanel-date {
    margin-top: auto;
  align-self: flex-end;

  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: var(--text-color);
  margin-bottom: 3px;
}

/*for javascript
#more { display: none; }
