:root {
  --background-color: #ECD2B3FF;
  --foreground-color: #F4E4D1FF;
  --header-color: #e6c49b;
  --text-color: #302211FF;
  --accent-color: #963500;
}


body {
  background-color: var(--background-color);
  font-size: 15px;
  color: var(--text-color);
  font-family: "Cormorant Garamond", serif;
}
  body a {
    color: var(--accent-color);
  }

.homepage-body {
  display: grid;
  gap: 20px;
  padding: 20px;
  
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 325px 325px 240px 240px;
  grid-template-areas: 
    "banner banner banner"
    "about about photo"
    "weather projects projects"
    "visitors guestbook webring";
  justify-content: center;
}

.projectspage-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 35px;
}

/* Panels */
.panel {
    background: var(--foreground-color);
    border: 1px solid rgba(48, 34, 17, 0.3);
    overflow: hidden;
    box-shadow: 3px 7px 7px hsl(0deg 0% 0% / 0.3);

  }
  .panel-header {
    background: var(--header-color);
    border-bottom: 1px solid rgba(139, 100, 60, 0.25);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
  }
  .panel-body {
    padding: 8px 12px;
    line-height: 1.25;
    overflow: auto;
  }
